In [99]:
import pandas as pd
import numpy as np

delayed_flights = pd.read_csv("DelayedFlights.csv", index_col=0)

C:\Users\PORTATIL\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [100]:
delayed_flights.head(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0.0,N,0.0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0.0,N,0.0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0.0,N,0.0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0.0,N,0.0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0.0,N,0.0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0.0,N,0.0,10.0,0.0,0.0,0.0,47.0
10,2008,1,3,4,706.0,700,916.0,915,WN,100,...,5.0,19.0,0.0,N,0.0,NaN,NaN,NaN,NaN,NaN
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0.0,N,0.0,8.0,0.0,0.0,0.0,72.0
15,2008,1,3,4,1029.0,1020,1021.0,1010,WN,2272,...,6.0,9.0,0.0,N,0.0,NaN,NaN,NaN,NaN,NaN
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0.0,N,0.0,3.0,0.0,0.0,0.0,12.0

In [101]:
delayed_flights.tail(9)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
6333434,2008,11,30,7,1408.0,1346,1641.0,1532,NW,1448,...,5.0,53.0,0.0,N,0.0,22.0,0.0,47.0,0.0,0.0
6333441,2008,11,10,1,1345.0,1155,1447.0,1250,NW,1448,...,13.0,27.0,0.0,N,0.0,0.0,0.0,7.0,0.0,110.0
6333461,2008,11,1,6,907.0,901,1103.0,1059,NW,1451,...,13.0,14.0,0.0,N,0.0,NaN,NaN,NaN,NaN,NaN
6333478,2008,11,9,7,1149.0,1100,1336.0,1224,NW,1466,...,12.0,28.0,0.0,N,0.0,0.0,0.0,23.0,0.0,49.0
6333479,2008,11,10,1,1148.0,1100,1313.0,1224,NW,1466,...,14.0,9.0,0.0,N,0.0,0.0,0.0,1.0,0.0,48.0
6333499,2008,11,30,7,1135.0,1100,1301.0,1224,NW,1466,...,4.0,15.0,0.0,N,0.0,0.0,0.0,2.0,0.0,35.0
6333507,2008,11,9,7,1406.0,1315,1717.0,1639,NW,1466,...,6.0,13.0,0.0,N,0.0,0.0,0.0,0.0,0.0,38.0
6333528,2008,11,30,7,1344.0,1315,1757.0,1639,NW,1466,...,7.0,34.0,0.0,N,0.0,13.0,0.0,49.0,0.0,16.0
6333540,2008,11,14,5,758.0,655,845.0,747,NW,1467,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
column_rellevants = delayed_flights[['Year','Month','DepTime','CRSDepTime','ArrTime','CRSArrTime','ArrDelay','Distance','Origin','AirTime']]

In [103]:
# Resum estadístic
column_rellevants.shape

(1706958, 10)

In [104]:
column_rellevants.describe()

,Year,Month,DepTime,CRSDepTime,ArrTime,CRSArrTime,ArrDelay,Distance,AirTime
count,1706958.0,1.706958e+06,1.706958e+06,1.706958e+06,1.700939e+06,1.706958e+06,1.700562e+06,1.706958e+06,1.700562e+06
mean,2008.0,5.333786e+00,1.522673e+03,1.472758e+03,1.612289e+03,1.636688e+03,4.141518e+01,7.628338e+02,1.078040e+02
std,0.0,2.941897e+00,4.502254e+02,4.243778e+02,5.491072e+02,4.660257e+02,5.587931e+01,5.740708e+02,6.843239e+01
min,2008.0,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,-1.090000e+02,1.100000e+01,0.000000e+00
25%,2008.0,3.000000e+00,1.206000e+03,1.139000e+03,1.318000e+03,1.328000e+03,9.000000e+00,3.370000e+02,5.800000e+01
50%,2008.0,5.000000e+00,1.549000e+03,1.515000e+03,1.718000e+03,1.710000e+03,2.400000e+01,6.050000e+02,9.000000e+01
75%,2008.0,8.000000e+00,1.902000e+03,1.820000e+03,2.032000e+03,2.015000e+03,5.500000e+01,9.920000e+02,1.360000e+02
max,2008.0,1.100000e+01,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,2.461000e+03,4.962000e+03,1.091000e+03

In [105]:
# Dades faltants
column_rellevants.isnull().sum()

Year             0
Month            0
DepTime          0
CRSDepTime       0
ArrTime       6019
CRSArrTime       0
ArrDelay      6396
Distance         0
Origin           0
AirTime       6396
dtype: int64

In [106]:
# Hi ha 6019 dades faltants en la columna ArrTime

# Afegir una columna

column_rellevants["Temps vol"] = column_rellevants["ArrTime"] - column_rellevants["DepTime"]
column_rellevants.head(10)

<ipython-input-106-064a21382e5f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  column_rellevants["Temps vol"] = column_rellevants["ArrTime"] - column_rellevants["DepTime"]

,Year,Month,DepTime,CRSDepTime,ArrTime,CRSArrTime,ArrDelay,Distance,Origin,AirTime,Temps vol
0,2008,1,2003.0,1955,2211.0,2225,-14.0,810,IAD,116.0,208.0
1,2008,1,754.0,735,1002.0,1000,2.0,810,IAD,113.0,248.0
2,2008,1,628.0,620,804.0,750,14.0,515,IND,76.0,176.0
4,2008,1,1829.0,1755,1959.0,1925,34.0,515,IND,77.0,130.0
5,2008,1,1940.0,1915,2121.0,2110,11.0,688,IND,87.0,181.0
6,2008,1,1937.0,1830,2037.0,1940,57.0,1591,IND,230.0,100.0
10,2008,1,706.0,700,916.0,915,1.0,828,IND,106.0,210.0
11,2008,1,1644.0,1510,1845.0,1725,80.0,828,IND,107.0,201.0
15,2008,1,1029.0,1020,1021.0,1010,11.0,162,IND,37.0,-8.0
16,2008,1,1452.0,1425,1640.0,1625,15.0,1489,IND,213.0,188.0

In [107]:
# Em pensava que restant el temps d'arrivada i de sortida sortiria el temps del vol, però hi ha valors negatius.

def retard(x):
    if x>=0:
        return "Perdoneu pel retard"
    else:
        return "Bon viatge"

column_rellevants["Retard"] = column_rellevants["ArrDelay"].apply(retard)
column_rellevants.head(10)

<ipython-input-107-d315cd684bc7>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  column_rellevants["Retard"] = column_rellevants["ArrDelay"].apply(retard)

,Year,Month,DepTime,CRSDepTime,ArrTime,CRSArrTime,ArrDelay,Distance,Origin,AirTime,Temps vol,Retard
0,2008,1,2003.0,1955,2211.0,2225,-14.0,810,IAD,116.0,208.0,Bon viatge
1,2008,1,754.0,735,1002.0,1000,2.0,810,IAD,113.0,248.0,Perdoneu pel retard
2,2008,1,628.0,620,804.0,750,14.0,515,IND,76.0,176.0,Perdoneu pel retard
4,2008,1,1829.0,1755,1959.0,1925,34.0,515,IND,77.0,130.0,Perdoneu pel retard
5,2008,1,1940.0,1915,2121.0,2110,11.0,688,IND,87.0,181.0,Perdoneu pel retard
6,2008,1,1937.0,1830,2037.0,1940,57.0,1591,IND,230.0,100.0,Perdoneu pel retard
10,2008,1,706.0,700,916.0,915,1.0,828,IND,106.0,210.0,Perdoneu pel retard
11,2008,1,1644.0,1510,1845.0,1725,80.0,828,IND,107.0,201.0,Perdoneu pel retard
15,2008,1,1029.0,1020,1021.0,1010,11.0,162,IND,37.0,-8.0,Perdoneu pel retard
16,2008,1,1452.0,1425,1640.0,1625,15.0,1489,IND,213.0,188.0,Perdoneu pel retard

In [108]:
# Velocitat mitjana del vol

column_rellevants["Velocitat"] = column_rellevants["Distance"] / column_rellevants["AirTime"]
column_rellevants.head(10)

<ipython-input-108-3aaa8150da04>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  column_rellevants["Velocitat"] = column_rellevants["Distance"] / column_rellevants["AirTime"]

,Year,Month,DepTime,CRSDepTime,ArrTime,CRSArrTime,ArrDelay,Distance,Origin,AirTime,Temps vol,Retard,Velocitat
0,2008,1,2003.0,1955,2211.0,2225,-14.0,810,IAD,116.0,208.0,Bon viatge,6.982759
1,2008,1,754.0,735,1002.0,1000,2.0,810,IAD,113.0,248.0,Perdoneu pel retard,7.168142
2,2008,1,628.0,620,804.0,750,14.0,515,IND,76.0,176.0,Perdoneu pel retard,6.776316
4,2008,1,1829.0,1755,1959.0,1925,34.0,515,IND,77.0,130.0,Perdoneu pel retard,6.688312
5,2008,1,1940.0,1915,2121.0,2110,11.0,688,IND,87.0,181.0,Perdoneu pel retard,7.908046
6,2008,1,1937.0,1830,2037.0,1940,57.0,1591,IND,230.0,100.0,Perdoneu pel retard,6.917391
10,2008,1,706.0,700,916.0,915,1.0,828,IND,106.0,210.0,Perdoneu pel retard,7.811321
11,2008,1,1644.0,1510,1845.0,1725,80.0,828,IND,107.0,201.0,Perdoneu pel retard,7.738318
15,2008,1,1029.0,1020,1021.0,1010,11.0,162,IND,37.0,-8.0,Perdoneu pel retard,4.378378
16,2008,1,1452.0,1425,1640.0,1625,15.0,1489,IND,213.0,188.0,Perdoneu pel retard,6.990610

In [109]:
# Aerolínies amb més endarreriment

column_rellevants[['Origin']].value_counts().head(10)

Origin
ATL       115733
ORD       112108
DFW        84148
DEN        65163
LAX        52267
PHX        49335
IAH        49030
LAS        47613
EWR        46538
SFO        38916
dtype: int64

In [110]:
# Mesos amb més retards
column_rellevants[['Month']].value_counts().head(10)

Month
6        200914
3        200842
2        189534
1        183527
7        182945
8        162648
4        155264
5        153072
10       103525
9         95539
dtype: int64

In [111]:
# No he trobat columna d'aerolínies, però el aeroport que més ha tingut retards ha estat ATL.
# Vols més llargs

vols_llargs = column_rellevants[['AirTime']]
vols_llargs_final = vols_llargs.sort_values(by="AirTime", ascending=False)
vols_llargs_final.head()

         AirTime
5180146   1091.0
4614554    733.0
1139464    664.0
1742567    655.0
1742573    654.0

In [112]:
# Vols més endarrerits

vols_llargs = column_rellevants[['ArrDelay']]
vols_llargs_final = vols_llargs.sort_values(by="ArrDelay", ascending=False)
vols_llargs_final.head()

         ArrDelay
1018798    2461.0
2235378    2453.0
2832617    1951.0
3387883    1707.0
5232546    1583.0